name: Cleanup Releases

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight UTC

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old releases
        uses: Nats-ji/delete-old-releases@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          keep-count: 8
          keep-old-minor-releases: true            # keep 1 release per old minor version
          keep-old-minor-releases-by: 'minor'      # semver level for old releases grouping
          keep-old-minor-releases-count: 1         # number of releases per old minor version